# 依赖
node_modules/

# 构建产物
dist/
dist-demo/
backend/target/
backend/**/target/
backend/**/target/*

# 前端临时构建文件
frontend/.vite-temp/

# 本地环境与编辑器
.vite/
*.local
.DS_Store
Thumbs.db
.idea/
.vscode/

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
